@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Open+Sans:wght@400;600&display=swap");

:root {
  --background-color: #fafaff;
  --translucent-bc-s: rgba(250, 250, 255, 0.3);
  --translucent-bc-w: rgba(250, 250, 255, 0.8);
  --timer-background-color: #dddde1;
  --worse-background-color: #e5e5eb;
  --better-background-color: #89898a;
  --primary-color: #f7d34e;
  --secondary-color: #f7de84;
  --text-color: #000000;
  --font-family: "Dancing Script", sans-serif;
}

body {
  background-color: var(--background-color);
  font-family: var(--font-family);
  margin: 0;
  user-select: none;
}

div#main {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  transition: opacity 2s;
  background-size: cover;
  background-position: bottom;
}
div#main.w {
  opacity: 0;
}

div#centered {
  text-align: center;
  padding: 10px;
  background-color: var(--translucent-bc-s);
  border-radius: 5px;
}
div#centered.w {
  background-color: var(--translucent-bc-w);
}

/* #timer {
  color: var(--text-color);
  transition: opacity 2s;
  font-family: var(--font-family);
  font-size: 80px;
} */

#timer-bar {
  position: relative;
  background-color: var(--timer-background-color);
  height: 5px;
  width: 30vw;
  margin: auto;
}

#timer-bar > #foreground {
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--primary-color);
  height: 100%;
  width: 100%;
  transition-timing-function: ease-out;
}

#tip {
  font-size: 1rem;
  line-height: 2rem;
  color: var(--text-color);
}

#note {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 0.6rem;
  font-family: "Open Sans", sans-serif;
  text-align: right;
}

#banner {
  width: 300px;
}

#timer-toggle {
  outline: none;
  /* border: dashed 1px var(--text-color); */
  border: none;
  background-color: transparent;
  /* border-radius: 50%; */
  margin-bottom: 40px;
  width: fit-content;
  height: 2rem;
  font-family: var(--font-family);
  cursor: pointer;
}
div#setting-inputs {
  font-size: 1.3rem;
}
input {
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px dashed var(--text-color);
  width: 75px;
  font-family: var(--font-family);
  font-size: 1rem;
  text-align: right;
}
input:focus {
  border-bottom: 1px solid var(--text-color);
}

#heading {
  font-weight: 600;
  line-height: 3rem;
  font-size: 2.5rem;
}

#subtitle {
  font-size: 0.8rem;
}

#error {
  color: #db2d43;
  font-size: 1rem;
  line-height: 2rem;
}

#small-inputs {
  margin-top: 30px;
  line-height: 1rem;
}
#small-inputs > span {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  font-size: 0.6rem;
  font-family: "Open Sans", sans-serif;
}
.sm-option {
  width: 150px;
  outline: none;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  background-color: transparent;
  border-radius: 5px;
  font-family: var(--font-family);
  transition: border-color 500ms;
  font-size: 0.9rem;
  margin-bottom: 5px;
  border-color: var(--worse-background-color);
}
.sm-option.selected {
  border-color: var(--better-background-color);
}

#banner-settings {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 1.25rem;
}
